# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_37003F000451303532383235-if00
restart_method: command

# [mcu host]
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 840
max_accel: 1000 
# max_accel: 78350
max_z_accel: 300
max_z_velocity:300
# max_z_velocity: 3917
# max_z_accel:  78350

[input_shaper]
 shaper_freq_x: 25
 shaper_freq_y: 25.81
 shaper_type: mzv

 #####################################################################
# Other Config Files
#####################################################################
# [inlcude motion.cfg]
[include KAMP_Settings.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
# [include mmu/optional/mmu_menu.cfg]
[include macros.cfg]


#####################################################################
# Steppers/Motion
#####################################################################
[stepper_x] # DRIVER0
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
microsteps: 256
rotation_distance: 40
full_steps_per_rotation: 200
position_endstop: 269
position_min: -22
position_max: 269
homing_speed: 40

[tmc2209 stepper_x]         #DUMP_TMC comm can debug and help with config
uart_pin: PC4
diag_pin: ^PG6
driver_SGTHRS: 86
# stealthchop_threshold: 999999
run_current: 0.5
# NEMA 17 SL42STH40-1684A according to https://3dprint.wiki/reprap/anet/a8/steppermotor
interpolate: false
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 1
driver_HEND: 3



[stepper_y] # DRIVER1
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
microsteps: 256
rotation_distance: 40
full_steps_per_rotation: 200
position_endstop: 236
position_min: -57 # TODO: find ymin
position_max: 236
homing_speed: 40

[tmc2209 stepper_y]         #DUMP_TMC comm can debug and help with config
uart_pin: PD11
diag_pin: ^PG9
driver_SGTHRS: 104
# stealthchop_threshold: 999999
run_current: 0.5
# NEMA 17 SL42STH40-1684A according to https://3dprint.wiki/reprap/anet/a8/steppermotor
interpolate: false
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 1
driver_HEND: 3

[stepper_z] #DRIVER2
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
homing_retract_dist: 5
microsteps: 64
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe: z_virtual_endstop
position_min: -2
position_max: 230

[tmc2209 stepper_z]
#DUMP_TMC comm can debug and help with config
uart_pin: PC6
# diag_pin: ^PG8
stealthchop_threshold: 999999
run_current: 0.5
# NEMA 17 SL42STH40-1684A according to https://3dprint.wiki/reprap/anet/a8/steppermotor
interpolate: false
# driver_TBL: 1
# driver_TOFF: 3
# driver_HSTRT: 1
# driver_HEND: 3

[stepper_z1] #DRIVER3
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
# endstop_pin: probe: z_virtual_endstop
microsteps: 64
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PC7
stealthchop_threshold: 999999
run_current: 0.5
# NEMA 17 SL42STH40-1684A according to https://3dprint.wiki/reprap/anet/a8/steppermotor
interpolate: false
# driver_TBL: 1
# driver_TOFF: 3
# driver_HSTRT: 1
# driver_HEND: 3


[extruder] #DRIVER7
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
microsteps: 16
gear_ratio: 50:10
rotation_distance: 22.575
full_steps_per_rotation: 200
nozzle_diameter: 0.500
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 1001.0
heater_pin: PA2 # Heat2
sensor_pin:  PF4 # T1 Header
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp=31.362 
#pid_Ki=1.560 
#pid_Kd=157.594
min_temp: 0
min_extrude_temp: 180
max_temp: 300
pressure_advance:0.049
# endstop_pin: tmc2209_extruder:virtual_endstop

# 220C:
#control: pid
#pid_Kp=31.362 
#pid_Ki=1.560 
#pid_Kd=157.594


[tmc2209 extruder]
uart_pin: PD3
# diag_pin: ^PG15 #TODO: may not be useable
stealthchop_threshold: 0
interpolate: false
run_current: .55

[force_move]
enable_force_move: True

[gcode_arcs]

# [include klipper-autotune.cfg]

#####################################################################
# Fans
#####################################################################
[fan] # back ventillation fans
pin: PD14 #PB1

[heater_fan extruder_fan]
pin: PD15 #PE6
heater_temp: 50

[fan_generic ventilation]
pin: PA8 # PD14 #heat1

[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950


[temperature_sensor enclosure_temp]
sensor_type: chamber_temp
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: C

# [temperature_sensor chamber]
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PF5

#[temperature_fan system_fan]
#pin: host:gpio18 # the fan control pin (must be a mosfet or a pwm fan)
#control: watermark # the type of hysteresis we are using
#max_delta: 3.0 # fan turns on/off at 3° over/under target_temp
#sensor_type: temperature_host # same as a temp_sensor
#sensor_mcu: mcu
#min_temp: 0
#max_temp: 100 # just the valid temperature ranges
#target_temp: 40.0 # the initial target temperature for the fan

#####################################################################
# Probe, Bed, and Mesh
#####################################################################
# [safe_z_home]
# home_xy_position: 110, 110
# speed: 60

[probe]
pin: ~!PB7
x_offset: -41
y_offset: 5
#z_offset = 1
speed: 10
samples: 2
samples_tolerance: .1
samples_tolerance_retries: 1


[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # T0 TODO
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130

[z_tilt] # TODO
  z_positions:
      -70, 110
      306, 110
  points:
      50, 105
      100, 105
      150, 105
      200, 105
      250, 105
  retries: 3
  speed:120
  retry_tolerance: .15

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 15, 10
mesh_max: 200, 210
probe_count: 7,7
adaptive_margin: 5
algorithm:bicubic
fade_start: 1
fade_end: 0

[bed_screws]
screw1: 15, 15
screw2: 205, 15
screw3: 205, 205
screw4: 15, 205

[homing_override]
axes:xyz
gcode:
  # Read requested homing axis
  {% set X, Y, Z = False, False, False %}
  {% if   not 'X' in params
      and not 'Y' in params 
      and not 'Z' in params %}
      {% set X, Y, Z = True, True, True %}
  {% else %}
      {% if 'X' in params %}
          {% set X = True %}
      {% endif %}       
      {% if 'Y' in params %}
          {% set Y = True %}
      {% endif %}     
      {% if 'Z' in params %}
          {% set Z = True %}
      {% endif %}        
  {% endif %}

  {% set accel = printer.toolhead.max_accel %}

  set_velocity_limit accel=800

  # get center of bed
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}


  #preheat for z probe if homing z
  {% if Z %}
      # set_heater_temperature heater=extruder target=150

    {% if printer.heater_bed.target < 60 %}
      set_heater_temperature heater=heater_bed target=60
    {% endif %}
  {% endif %}

  G90

  # Home Y
  {% if Y %}
    G4 P2000
    G28 Y0
    G1 Y{printer.toolhead.axis_maximum.y - 25} F3000
  {% endif %}

  # Home X
  {% if X %}
    G4 P2000
    G28 X0
    G1 X{printer.toolhead.axis_maximum.x - 25} F3000
  {% endif %}

  # Home Z
  {% if Z %}
    G4 P2000
    G90
    G1 X{x_wait} Y{y_wait} F3000
    # TEMPERATURE_WAIT SENSOR=extruder minimum=150
    TEMPERATURE_WAIT SENSOR=heater_bed minimum={printer.heater_bed.target}
    G28 Z0
    G1 Z5 F3000
  {% endif %}


  set_velocity_limit accel={accel}

#####################################################################
# Misc
#####################################################################
[filament_switch_sensor extruder1]
  switch_pin: !PE15
  
[firmware_retraction]
  retract_length: .5
  retract_speed: 25
  unretract_speed: 15

[auto_speed]

[temperature_sensor pi]
  sensor_type: temperature_host
# https://pimylifeup.com/raspberry-pi-temperature/ if not currently working

[temperature_sensor main_board]
  sensor_type: temperature_mcu
  sensor_mcu: mcu

# [temperature_sensor mmu_board]
#  sensor_type: temperature_mcu
#  sensor_mcu: mmu

[pause_resume]

[exclude_object]

[idle_timeout]
gcode:
    M84

[virtual_sdcard]
path: ~/printer_data/gcodes

[respond]

# [save_variables] # TODO
# filename: ~/klipper_config/_saved_variables/variables.cfg

[display_status]

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # Locations:
    #          EXP1:                        EXP2:
    #   +-----------------+          +-----------------+
    #   |  2  4  6  8  5V |          |  2  4  6  8  10  |
    #   |  1  3  5  7 GND |          |  1  3  5  7 GND |
    #   +------     ------+          +------     ------+
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# [display]
# lcd_type: st7920
# cs_pin: EXP1_4
# sclk_pin: EXP1_5
# sid_pin: EXP1_3
# encoder_pins: ^EXP2_3, ^EXP2_5
# click_pin: ^!EXP1_2
# #kill_pin: ^!EXP2_8

# [output_pin beeper]
# pin: EXP1_1
# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.575
#*# pid_ki = 1.128
#*# pid_kd = 1200.198
#*#
#*# [probe]
#*# z_offset = 1.820
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.649
#*# pid_ki = 1.594
#*# pid_kd = 137.869
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.149375, -0.462500, -0.519688, -0.528125, -0.499063, -0.418750, -0.129063
#*# 	0.086875, 0.029062, -0.027188, -0.053125, -0.090938, -0.142500, -0.130000
#*# 	0.037500, 0.026562, 0.010625, -0.037500, -0.066875, -0.092500, -0.103125
#*# 	-0.050000, -0.022188, -0.076875, -0.096250, -0.109063, -0.116875, -0.119375
#*# 	-0.069688, -0.065000, -0.124375, -0.125313, -0.111250, -0.138125, -0.142813
#*# 	-0.191250, -0.137500, -0.157188, -0.171563, -0.167500, -0.138750, -0.105938
#*# 	-0.141875, -0.125000, -0.100000, -0.127813, -0.092188, -0.079375, 0.196875
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 199.98
#*# min_y = 10.0
#*# max_y = 209.97999999999996
