# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_200031001847313337353236-if00

# [mcu host]
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 3000
max_z_velocity: 8
max_z_accel: 100

[input_shaper]
 shaper_freq_x: 25
 shaper_freq_y: 25.81
 shaper_type: mzv

 #####################################################################
# Other Config Files
#####################################################################
# [inlcude motion.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
# [include mmu/optional/mmu_menu.cfg]


#####################################################################
# Steppers/Motion
#####################################################################
[stepper_x]
step_pin: PE9
dir_pin: !PF1
enable_pin: !PF2
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
microsteps: 256
rotation_distance: 40
full_steps_per_rotation: 200
position_endstop: -24
position_min: -24
position_max: 207
homing_speed: 40

[tmc2209 stepper_x]         #DUMP_TMC comm can debug and help with config
uart_pin: PC13
diag_pin: ^PB10
run_current: 0.80
stealthchop_threshold: 999999
driver_SGTHRS: 80
interpolate: true

[stepper_y]
step_pin: PE11
dir_pin: !PE8
enable_pin: !PD7
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
microsteps: 256
rotation_distance: 40
full_steps_per_rotation: 200
position_endstop: -43
position_min: -43
position_max: 220
homing_speed: 40

[tmc2209 stepper_y]         #DUMP_TMC comm can debug and help with config
uart_pin: PE3
diag_pin: ^PE12
run_current: 0.80
stealthchop_threshold: 999999
driver_SGTHRS: 100
interpolate: true

[stepper_z]
step_pin: PE13
dir_pin: !PC2
enable_pin: !PC0
homing_retract_dist: 5
microsteps: 256
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe: z_virtual_endstop
position_min: -2
position_max: 230

[tmc2209 stepper_z]         #DUMP_TMC comm can debug and help with config
uart_pin: PE1
# diag_pin: ^PG8
run_current: 0.60
hold_current: .6
stealthchop_threshold: 999999
interpolate: true

[stepper_z1]
step_pin: PD13
dir_pin: !PG9
enable_pin: !PF0
# endstop_pin: probe: z_virtual_endstop
microsteps: 128
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PD6
run_current: 0.6
hold_current: 0.6
stealthchop_threshold: 999999
interpolate: true


[extruder]
step_pin: PE14
dir_pin: !PA0
enable_pin: !PC3
microsteps: 16
gear_ratio: 50:17
rotation_distance: 23.35
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 1001.0
heater_pin: PD14 # Heat0
sensor_pin:  PF4 # T1 Header
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp=31.362 
#pid_Ki=1.560 
#pid_Kd=157.594
min_temp: 0
min_extrude_temp: 180
max_temp: 300
pressure_advance:0.0625
# endstop_pin: tmc2209_extruder:virtual_endstop


[tmc2209 extruder]
uart_pin: PD4
diag_pin: ^PE15
run_current: .9
stealthchop_threshold: 999999
interpolate: true
# driver_SGTHRS: 100

[force_move]
enable_force_move: True

[gcode_arcs]

# [include klipper-autotune.cfg]

#####################################################################
# Fans
#####################################################################
[fan]
pin: PE6

[heater_fan extruder_fan]
pin: PE5
heater_temp: 50

[fan_generic ventilation]
pin: PB0

[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF5

#[temperature_fan system_fan]
#pin: host:gpio18 # the fan control pin (must be a mosfet or a pwm fan)
#control: watermark # the type of hysteresis we are using
#max_delta: 3.0 # fan turns on/off at 3° over/under target_temp
#sensor_type: temperature_host # same as a temp_sensor
#sensor_mcu: mcu
#min_temp: 0
#max_temp: 100 # just the valid temperature ranges
#target_temp: 40.0 # the initial target temperature for the fan

#####################################################################
# Probe, Bed, and Mesh
#####################################################################
# [safe_z_home]
# home_xy_position: 110, 110
# speed: 60

[probe]
pin: !PG5 
x_offset: 35
y_offset: 0
#z_offset = 1
speed: 7
samples: 2
samples_tolerance: .1
samples_tolerance_retries: 1


[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0 TODO
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130

[z_tilt] # TODO
  z_positions:
      -58, 110
      318, 110
  points:
      0, 110
      46, 110
      92, 110
      138, 110
      160, 110
  retries: 3
  retry_tolerance: .2

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15, 10
mesh_max: 200, 210
probe_count: 5, 5
algorithm:bicubic
fade_start: 1
fade_end: 0

[bed_screws]
screw1: 15, 15
screw2: 205, 15
screw3: 205, 205
screw4: 15, 205

[homing_override]
gcode:
  # Read requested homing axis
  {% set X, Y, Z = False, False, False %}
  {% if   not 'X' in params
      and not 'Y' in params 
      and not 'Z' in params %}
      {% set X, Y, Z = True, True, True %}
  {% else %}
      {% if 'X' in params %}
          {% set X = True %}
      {% endif %}       
      {% if 'Y' in params %}
          {% set Y = True %}
      {% endif %}     
      {% if 'Z' in params %}
          {% set Z = True %}
      {% endif %}        
  {% endif %}

  # get center of bed
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # SET_KINEMATIC_POSITION z=0
  # g1 z5

  #preheat for z probe if homing z
  {% if Z %}
    {% if printer.extruder.target < 120 %}
      set_heater_temperature heater=extruder target=150
    {% endif %}

    {% if printer.heater_bed.target < 60 %}
      set_heater_temperature heater=heater_bed target=60
    {% endif %}
  {% endif %}

  G90

  # Home X
  {% if X %}
    G4 P1000
    G28 X0
    G1 X5 F3000
  {% endif %}

  # Home Y
  {% if Y %}
    G4 P2000
    G28 Y0
    G1 Y5 F3000
  {% endif %}

  # Home Z
  {% if Z %}
    G1 X{x_wait} Y{y_wait} F3000
    TEMPERATURE_WAIT SENSOR=heater_bed minimum={printer.heater_bed.target - 2}
    TEMPERATURE_WAIT SENSOR=extruder minimum=120
    G28 Z0
    G1 Z5 F3000
  {% endif %}


#####################################################################
# Misc
#####################################################################
[filament_switch_sensor extruder1]
  switch_pin: !PE15
  

[firmware_retraction]
  retract_length: 3 
  retract_speed: 30
  unretract_speed: 30

[temperature_sensor pi]
  sensor_type: temperature_host
# https://pimylifeup.com/raspberry-pi-temperature/ if not currently working

[temperature_sensor main_board]
  sensor_type: temperature_mcu
  sensor_mcu: mcu

[temperature_sensor mmu_board]
  sensor_type: temperature_mcu
  sensor_mcu: mmu

[pause_resume]

[exclude_object]

[idle_timeout]
gcode:
    M84

[virtual_sdcard]
path: ~/printer_data/gcodes

[respond]

# [save_variables] # TODO
# filename: ~/klipper_config/_saved_variables/variables.cfg

[display_status]

########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # Locations:
    #          EXP1:                        EXP2:
    #   +-----------------+          +-----------------+
    #   |  2  4  6  8  5V |          |  2  4  6  8  10  |
    #   |  1  3  5  7 GND |          |  1  3  5  7 GND |
    #   +------     ------+          +------     ------+
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1
# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.694
#*# pid_ki = 0.805
#*# pid_kd = 1685.750
#*#
#*# [probe]
#*# z_offset = 0.675
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.340
#*# pid_ki = 1.775
#*# pid_kd = 166.122
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.117734, -0.105156, -0.097500
#*# 	-0.076406, -0.071641, -0.072266
#*# 	-0.105703, -0.091719, -0.079609
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 87.12
#*# max_x = 132.48000000000002
#*# min_y = 83.96
#*# max_y = 132.72
